<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign In Page</title>
    <script src="../asset/validation.js"></script>
</head>
<body>
    <h1>Sign In</h1>

    <form action="../controller/login_check.php" method="post" onsubmit="return validateForm()">
        Username: <br>
        <input type="text" name="user_name" id="user_name_id" onkeyup="check_username()"><br>
        <p id="user_name_val" style="display:none;color: red;">Username cannot be null</p>

        Password:<br>
        <input type="password" name="password" id="pass_id" onkeyup="check_password()"><br>
        <p id="password_val" style="display:none;color: red;">Password cannot be null</p>

        <input type="submit" name="submit" value="Sign In">
        <input type="reset" name="reset" value="Reset"><br>

        <a href="signup.html">Sign Up</a>
    </form>
</body>
</html>
